Repository resend/react-email, pull requests merged in 2024-10, with the labels that each got.

#1701 feat(web): Improved way of switching to pure HTML
  apps/web/src/components/component-code-view.tsx
  apps/web/src/components/component-view.tsx
  apps/web/src/components/tab-trigger.tsx
  apps/web/src/hooks/use-stored-state.ts
Labels: App: Website

#1721 fix(web): Simple copy-paste components showing HTML instead of React
  apps/web/src/components/component-code-view.tsx
Labels: App: Website

#1658 feat(docs): Preview server deployment page
  apps/docs/cli.mdx
  apps/docs/deployment.mdx
  apps/docs/images/preview-server-vercel-settings.png
  apps/docs/mint.json
Labels: App: Docs

#1677 feat(docs): Improved `email export` callout
  apps/docs/cli.mdx
Labels: App: Docs

#1704 fix(docs): Outdated manual setup
  apps/docs/getting-started/manual-setup.mdx
Labels: App: Docs

#1699 fix(react-email): Add Windows support for build process
  packages/react-email/build-preview-server.mjs
Labels: Package: react-email

#1742 fix(web): Use the proper mono font family for the code block copy-paste components
  .changeset/slow-ghosts-design.md
  apps/web/components/code-block-with-custom-theme/index.tsx
  apps/web/components/code-block-with-line-numbers/index.tsx
  apps/web/components/code-block-with-predefined-theme/index.tsx
  apps/web/components/code-block-without-theme/index.tsx
  apps/web/components/ensure-matching-variants.spec.tsx
  apps/web/components/one-row-two-columns/tailwind.tsx
  apps/web/package.json
  apps/web/src/app/components/[slug]/page.tsx
  apps/web/src/app/components/get-imported-components-for.tsx
  apps/web/src/components/component-code-view.tsx
  apps/web/src/components/component-view.tsx
  apps/web/src/components/components-view.tsx
  apps/web/src/utils/convert-uris-into-urls.spec.ts
  apps/web/src/utils/convert-uris-into-urls.ts
  packages/code-block/src/code-block.tsx
  pnpm-lock.yaml
  turbo.json
Labels: App: Website, Pacakge: @react-email/code-block

#1706 chore(root): Ensure all components install a specific React 19 version
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: dependencies

#1740 fix(tailwind): TailwindConfig type broken when `tailwindcss` is not installed
  .changeset/wise-suits-run.md
  packages/tailwind/copy-tailwind-types.mjs
  packages/tailwind/package.json
  packages/tailwind/vite.config.ts
  pnpm-lock.yaml
Labels: Package: @react-email/tailwind

#1753 chore(docs): Add changelogs for September 2nd and October 31st
  apps/docs/changelog.mdx
Labels: App: Docs
