Repository resend/react-email, pull requests merged in 2024-03, with the labels that each got.

#1114 fix(tailwind): Media query escaped class names
  packages/tailwind/readme.md
  packages/tailwind/src/tailwind.spec.tsx
  packages/tailwind/src/tailwind.tsx
  packages/tailwind/src/utils/sanitize-class-name.spec.ts
  packages/tailwind/src/utils/sanitize-class-name.ts
Labels: Type: Bug, Package: @react-email/tailwind

#1356 fix(react-email): Absolute paths when trying to click emails on sub directories in the Sidebar
  packages/react-email/src/cli/commands/build.ts
  packages/react-email/src/cli/utils/preview/start-dev-server.ts
Labels: Package: react-email, OS: Windows

#1358 fix(tailwind, components): Already existing @react-email/tailwind version (0.0.15-canary.0)
  packages/components/package.json
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: Package: @react-email/tailwind

#1102 chore(web): Add `aws-verify-email` example to page of examples
  apps/web/src/pages/examples/index.tsx
Labels: App: Website

#1373 feat(react-email): Remove existing `out` directory when running `email export`
  packages/react-email/src/cli/commands/export.ts
Labels: Type: Bug, Package: react-email
