Repository resend/react-email, pull requests merged in 2024-04, with the labels that each got.

#1335 fix(tailwind): React.forwardRef components not working
  packages/tailwind/src/tailwind.spec.tsx
  packages/tailwind/src/tailwind.tsx
  packages/tailwind/src/utils/quick-safe-render-to-string.ts
Labels: Type: Bug, PR: In Review, Package: @react-email/tailwind

#1117 fix(render): Tests for the web env not using the server.browser version of react-dom/server
  packages/react-email/src/app/preview/[...slug]/page.tsx
  packages/react-email/src/utils/get-email-component.ts
  packages/render/.eslintrc.js
  packages/render/package.json
  packages/render/src/react-internals.d.ts
  packages/render/src/render-async-edge.spec.tsx
  packages/render/src/render-async-node.spec.tsx
  packages/render/src/render-async-web.spec.tsx
  packages/render/src/render-async.ts
  packages/render/src/render.spec.tsx
  pnpm-lock.yaml
Labels: Package: @react-email/render

#1401 fix(react-email): Issue with `email dev` when there is a `browserslist` in the user's package.json
  packages/react-email/package.json
  pnpm-lock.yaml
Labels: Package: react-email

#1412 feat(docs): Section for the Tailwind component's known limitations and improved style support callout
  apps/docs/components/tailwind.mdx
Labels: Type: Documentation

#1301 fix(docs): Unconventional file structure for the snippets
  apps/docs/_snippets/license.mdx
  apps/docs/components/button.mdx
  apps/docs/components/code-block.mdx
  apps/docs/components/code-inline.mdx
  apps/docs/components/column.mdx
  apps/docs/components/container.mdx
  apps/docs/components/font.mdx
  apps/docs/components/head.mdx
  apps/docs/components/heading.mdx
  apps/docs/components/hr.mdx
  apps/docs/components/html.mdx
  apps/docs/components/image.mdx
  apps/docs/components/link.mdx
  apps/docs/components/markdown.mdx
  apps/docs/components/preview.mdx
  apps/docs/components/row.mdx
  apps/docs/components/section.mdx
  apps/docs/components/tailwind.mdx
  apps/docs/components/text.mdx
  apps/docs/contributing.mdx
  apps/docs/getting-started/automatic-setup.mdx
  apps/docs/getting-started/manual-setup.mdx
  apps/docs/getting-started/migrating-to-react-email.mdx
  apps/docs/snippets/localdev.mdx
  apps/docs/snippets/next-steps.mdx
  apps/docs/snippets/support.mdx
Labels: Type: Documentation

#1264 feat(react-email): Improved error stack traces for preview server
  packages/react-email/src/utils/get-email-component.ts
  packages/react-email/src/utils/improve-error-with-sourcemap.ts
Labels: Package: react-email, Type: Improvement

#1312 fix(react-email, render): Dependabot security vulnerabilities from dependencies
  package.json
  packages/react-email/package.json
  packages/render/package.json
  pnpm-lock.yaml
Labels: Package: @react-email/render, Package: react-email, Type: Security
