Repository resend/react-email, pull requests merged in 2024-11, with the labels that each got.

#1758 fix(tailwind): Media query major issues
  .changeset/five-pants-boil.md
  .changeset/moody-steaks-invent.md
  packages/tailwind/integrations/nextjs/next-env.d.ts
  packages/tailwind/integrations/nextjs/package-lock.json
  packages/tailwind/integrations/vite/package-lock.json
  packages/tailwind/src/__snapshots__/tailwind.spec.tsx.snap
  packages/tailwind/src/tailwind.spec.tsx
  packages/tailwind/src/tailwind.tsx
  packages/tailwind/src/utils/css/remove-if-empty-recursively.ts
  packages/tailwind/src/utils/css/remove-rule-duplicates-from-root.ts
  packages/tailwind/src/utils/css/resolve-all-css-variables.ts
  packages/tailwind/src/utils/tailwindcss/__snapshots__/setup-tailwind.spec.ts.snap
Labels: Package: @react-email/tailwind

#1761 chore(docs): Add changelog for the 4th of November
  apps/docs/changelog.mdx
Labels: App: Docs

#1765 fix(web): Side scrolling
  apps/web/src/app/layout.tsx
Labels: App: Website, Type: Improvement

#1770 chore(docs): Add changelog for November 8th
  apps/docs/changelog.mdx
Labels: App: Docs

#1775 chore(docs): Remove automated section on MJML migration
  apps/docs/getting-started/migrating-to-react-email.mdx
Labels: App: Docs

#1776 feat(docs): Props section for Code Block component
  apps/docs/components/code-block.mdx
Labels: App: Docs

#1778 chore(markdown): Update md-to-react-email
  .changeset/pink-berries-relate.md
  packages/markdown/package.json
  pnpm-lock.yaml
Labels: Pacakge: @react-email/markdown

#1777 feat(render): Use prettier's standalone API instead of js-beautify
  .changeset/large-taxis-smoke.md
  packages/react-email/src/cli/commands/testing/__snapshots__/export.spec.ts.snap
  packages/render/package.json
  packages/render/src/shared/utils/pretty.ts
  pnpm-lock.yaml
Labels: Package: @react-email/render

#1787 fix(markdown): Memory leak due to outdated md-to-react-email
  .changeset/dull-poems-search.md
  packages/markdown/package.json
  pnpm-lock.yaml
Labels: Pacakge: @react-email/markdown
