Repository resend/react-email, pull requests merged in 2024-05, with the labels that each got.

#1446 fix(react-email): Missing Headers on the global context for email templates
  packages/code-block/.prettierignore
  packages/react-email/src/utils/get-email-component.ts
Labels: Package: react-email

#1313 fix(react-email): Possible file system race conditions
  packages/react-email/src/actions/get-emails-directory-metadata.ts
  packages/react-email/src/cli/utils/preview/serve-static-file.ts
Labels: Package: react-email, Type: Security

#1341 fix(react-email): "__filanem" typo passed onto the VM context for resolving email components on the preview
  packages/react-email/src/utils/get-email-component.ts
Labels: Type: Bug, Package: react-email

#1425 fix: `demo` app not on the `pnpm-workspace.yaml` file
  apps/demo/package-lock.json
  apps/demo/package.json
  package.json
  packages/create-email/template/package.json
  packages/react-email/next.config.js
  packages/react-email/src/actions/render-email-by-path.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Package: react-email

#1431 fix(react-email): Different react-dom version being used to render email templates
  packages/react-email/package.json
  packages/react-email/src/actions/render-email-by-path.tsx
  packages/react-email/src/utils/__snapshots__/get-email-component.spec.ts.snap
  packages/react-email/src/utils/get-email-component.spec.ts
  packages/react-email/src/utils/get-email-component.ts
  packages/react-email/src/utils/testing/email-template.tsx
  pnpm-lock.yaml
Labels: Package: react-email

#1460 fix(web): Taking forever to compile pages
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/api/send/test/route.ts
  apps/web/src/app/examples/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/inter.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/code.tsx
  apps/web/src/components/menu.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/api/send/test.ts
  apps/web/tailwind.config.js
  packages/render/src/render-async.ts
  pnpm-lock.yaml
Labels: App: Website

#1457 fix(demo): Build issue
  apps/demo/package.json
  packages/react-email/src/cli/commands/build.ts
  pnpm-lock.yaml
Labels: Package: react-email, App: Demo

#1467 fix(react-email): Export failing when using hooks
  packages/react-email/.gitignore
  packages/react-email/package.json
  packages/react-email/src/cli/commands/.npmignore
  packages/react-email/src/cli/commands/build.ts
  packages/react-email/src/cli/commands/export.ts
  packages/react-email/src/cli/commands/testing/.gitignore
  packages/react-email/src/cli/commands/testing/__snapshots__/export.spec.ts.snap
  packages/react-email/src/cli/commands/testing/emails/vercel-invite-user.tsx
  packages/react-email/src/cli/commands/testing/export.spec.ts
  packages/react-email/src/cli/index.ts
  packages/react-email/src/utils/get-email-component.ts
  packages/react-email/src/utils/render-resolver-esbuild-plugin.ts
  pnpm-lock.yaml
Labels: Package: react-email

#1427 fix(react-email): hot reloading rough edges
  packages/react-email/package.json
  packages/react-email/src/actions/get-email-path-from-slug.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.spec.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.spec.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/setup-hot-reloading.ts
  pnpm-lock.yaml
Labels: Type: Bug, Package: react-email

#1456 fix(docs): Unclear mention of `rem` to `px` conversion on Tailwind page
  apps/docs/components/tailwind.mdx
Labels: Type: Documentation

#1481 fix(react-email): Windows issue with the render resolving esbuild plugin
  packages/react-email/src/utils/render-resolver-esbuild-plugin.ts
  packages/render/src/render-async.ts
  pnpm-lock.yaml
Labels: Package: react-email, OS: Windows
