Repository resend/react-email, pull requests merged in 2024-08, with the labels that each got.

#1576 fix(react-email): Decorators causing dependency tree babel parsing to fail
  .changeset/curly-fireants-allow.md
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.ts
Labels: Package: react-email

#1591 fix(react-email): Email template preview failing with emails having spaces
  .changeset/nasty-carrots-burn.md
  apps/web/src/app/examples/page.tsx
  packages/react-email/src/app/preview/[...slug]/page.tsx
Labels: Package: react-email

#1537 feat(react-email): Build preview app and run it built instead of as dev
  .changeset/five-humans-dream.md
  benchmarks/preview-server/bench-results-30-iterations.json
  benchmarks/preview-server/package.json
  benchmarks/preview-server/src/local-vs-2.1.7-canary.2-on-startup.ts
  benchmarks/preview-server/src/local-vs-2.1.7-canary.2.ts
  benchmarks/preview-server/src/utils/run-server-and-fetch-preview-page.ts
  benchmarks/preview-server/src/utils/run-server.ts
  benchmarks/preview-server/startup-bench-results-30-iterations.json
  packages/create-email/template/package.json
  packages/react-email/.npmignore
  packages/react-email/build-preview-server.mjs
  packages/react-email/next.config.js
  packages/react-email/package.json
  packages/react-email/src/actions/get-emails-directory-metadata.spec.ts
  packages/react-email/src/actions/get-emails-directory-metadata.ts
  packages/react-email/src/actions/render-email-by-path.tsx
  packages/react-email/src/app/layout.tsx
  packages/react-email/src/app/preview/[...slug]/page.tsx
  packages/react-email/src/app/preview/[...slug]/preview.tsx
  packages/react-email/src/cli/commands/build.ts
  packages/react-email/src/cli/commands/export.ts
  packages/react-email/src/cli/commands/start.ts
  packages/react-email/src/cli/utils/close-ora-on-sigint.ts
  packages/react-email/src/cli/utils/preview/get-env-variables-for-preview-app.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/setup-hot-reloading.ts
  packages/react-email/src/cli/utils/preview/start-dev-server.ts
  packages/react-email/src/cli/utils/tree.spec.ts
  packages/react-email/src/components/shell.tsx
  packages/react-email/src/components/sidebar/sidebar-directory-children.tsx
  packages/react-email/src/components/sidebar/sidebar-directory.tsx
  packages/react-email/src/components/topbar.tsx
  packages/react-email/src/contexts/emails.tsx
  packages/react-email/src/hooks/use-hot-reload.ts
  packages/react-email/src/utils/close-ora-on-sigint.ts
  packages/react-email/src/utils/emails-directory-absolute-path.ts
  packages/react-email/tsconfig.json
  packages/react-email/tsup.config.ts
  packages/render/src/node/render-async-edge.spec.tsx
  packages/render/src/node/render-async-node.spec.tsx
  packages/render/src/react-internals.d.ts
  pnpm-lock.yaml
Labels: Package: react-email

#1596 chore(docs): Add changelog for August 22nd
  apps/docs/changelog.mdx
Labels: App: Docs

#1617 🍔 fix: MB menu
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/menu.tsx
  pnpm-lock.yaml
Labels: App: Website, Type: Improvement

#1619 fix: Improve metadata
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
Labels: App: Website, Type: Improvement

#1621 feat(web): responsive refinements
  apps/web/src/app/components/[slug]/page.tsx
  apps/web/src/app/components/page.tsx
  apps/web/src/app/examples/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/component-view.tsx
  apps/web/src/components/example.tsx
  apps/web/src/components/menu.tsx
  apps/web/src/components/topbar.tsx
Labels: App: Website, Type: Improvement

#1624 fix(react-email): Hot reloading
  .changeset/thin-scissors-wave.md
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/setup-hot-reloading.ts
Labels: Package: react-email

#1627 feat(docs): Changelog for August 23rd
  apps/docs/changelog.mdx
Labels: App: Docs

#1636 fix(web): Jobaccepted example email broken link and image
  apps/web/public/examples/jobaccepted-magic-link.png
  apps/web/src/app/examples/page.tsx
Labels: App: Website

#1637 feat(render): Suspense wrapping all elements passed to render
  .changeset/pink-trainers-know.md
  packages/body/src/body.spec.tsx
  packages/button/src/__snapshots__/button.spec.tsx.snap
  packages/column/src/column.spec.tsx
  packages/container/src/container.spec.tsx
  packages/font/src/font.spec.tsx
  packages/head/src/head.spec.tsx
  packages/heading/src/heading.spec.tsx
  packages/hr/src/hr.spec.tsx
  packages/html/src/html.spec.tsx
  packages/img/src/img.spec.tsx
  packages/link/src/link.spec.tsx
  packages/markdown/src/__snapshots__/markdown.spec.tsx.snap
  packages/preview/src/preview.spec.tsx
  packages/react-email/src/cli/commands/testing/__snapshots__/export.spec.ts.snap
  packages/react-email/src/utils/__snapshots__/get-email-component.spec.ts.snap
  packages/render/src/browser/render-async-web.spec.tsx
  packages/render/src/browser/render-async.tsx
  packages/render/src/browser/render-web.spec.tsx
  packages/render/src/browser/render.tsx
  packages/render/src/node/__snapshots__/render-async-node.spec.tsx.snap
  packages/render/src/node/__snapshots__/render-node.spec.tsx.snap
  packages/render/src/node/render-async-edge.spec.tsx
  packages/render/src/node/render-async-node.spec.tsx
  packages/render/src/node/render-async.tsx
  packages/render/src/node/render-edge.spec.tsx
  packages/render/src/node/render-node.spec.tsx
  packages/render/src/node/render.tsx
  packages/row/src/row.spec.tsx
  packages/section/src/section.spec.tsx
  packages/text/src/text.spec.tsx
Labels: Package: @react-email/render
