Repository resend/react-email, pull requests merged in 2025-03, with the labels that each got.

#1950 feat(react-email): Bottom layout for toolbar
  .changeset/swift-glasses-try.md
  apps/web/src/utils/spam-assassin/parse-pointing-table-rows.ts
  packages/react-email/package.json
  packages/react-email/src/actions/email-validation/check-images.spec.tsx
  packages/react-email/src/actions/email-validation/check-images.ts
  packages/react-email/src/actions/email-validation/check-links.spec.tsx
  packages/react-email/src/actions/email-validation/check-links.ts
  packages/react-email/src/app/fonts.ts
  packages/react-email/src/app/fonts/SFMono/SFMonoBold.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoBoldItalic.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoHeavy.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoHeavyItalic.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoLight.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoLightItalic.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoMedium.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoMediumItalic.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoRegular.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoRegularItalic.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoSemibold.otf
  packages/react-email/src/app/fonts/SFMono/SFMonoSemiboldItalic.otf
  packages/react-email/src/app/inter.ts
  packages/react-email/src/app/layout.tsx
  packages/react-email/src/app/page.tsx
  packages/react-email/src/app/preview/[...slug]/preview.tsx
  packages/react-email/src/components/icons/icon-base.tsx
  packages/react-email/src/components/icons/icon-circle-check.tsx
  packages/react-email/src/components/icons/icon-circle-close.tsx
  packages/react-email/src/components/icons/icon-circle-warning.tsx
  packages/react-email/src/components/icons/icon-reload.tsx
  packages/react-email/src/components/icons/icon-scanner.tsx
  packages/react-email/src/components/icons/icon-scissors.tsx
  packages/react-email/src/components/icons/icon-warning.tsx
  packages/react-email/src/components/send.tsx
  packages/react-email/src/components/shell.tsx
  packages/react-email/src/components/sidebar/file-tree-directory-children.tsx
  packages/react-email/src/components/sidebar/file-tree.tsx
  packages/react-email/src/components/sidebar/image-checker.tsx
  packages/react-email/src/components/sidebar/link-checker.tsx
  packages/react-email/src/components/sidebar/sidebar.tsx
  packages/react-email/src/components/sidebar/spam-assassin.tsx
  packages/react-email/src/components/toolbar.tsx
  packages/react-email/src/components/toolbar/checking-results.tsx
  packages/react-email/src/components/toolbar/linter.tsx
  packages/react-email/src/components/toolbar/results-table.tsx
  packages/react-email/src/components/toolbar/results.tsx
  packages/react-email/src/components/toolbar/spam-assassin.tsx
  packages/react-email/src/components/tooltip-content.tsx
  packages/react-email/src/components/topbar.tsx
  packages/react-email/tailwind.config.ts
  pnpm-lock.yaml
Labels: Package: react-email

#1954 feat(react-email): Compatbility checker
  .changeset/fluffy-hotels-sparkle.md
  .changeset/mean-clocks-try.md
  .changeset/pre.json
  biome.json
  packages/create-email/CHANGELOG.md
  packages/create-email/package.json
  packages/create-email/template/CHANGELOG.md
  packages/create-email/template/package.json
  packages/react-email/CHANGELOG.md
  packages/react-email/build-preview-server.mjs
  packages/react-email/package.json
  packages/react-email/scripts/build-preview-server.mjs
  packages/react-email/scripts/fill-caniemail-data.mjs
  packages/react-email/src/actions/email-validation/caniemail-data.ts
  packages/react-email/src/actions/email-validation/check-compatibility.ts
  packages/react-email/src/actions/email-validation/check-images.spec.tsx
  packages/react-email/src/actions/email-validation/check-images.ts
  packages/react-email/src/actions/email-validation/check-links.spec.tsx
  packages/react-email/src/actions/email-validation/check-links.ts
  packages/react-email/src/actions/get-email-path-from-slug.ts
  packages/react-email/src/actions/render-email-by-path.tsx
  packages/react-email/src/app/env.ts
  packages/react-email/src/app/layout.tsx
  packages/react-email/src/app/page.tsx
  packages/react-email/src/app/preview/[...slug]/page.tsx
  packages/react-email/src/app/preview/[...slug]/preview.tsx
  packages/react-email/src/components/code.tsx
  packages/react-email/src/components/toolbar.tsx
  packages/react-email/src/components/toolbar/linter.tsx
  packages/react-email/src/components/toolbar/spam-assassin.tsx
  packages/react-email/src/components/toolbar/toolbar-button.tsx
  packages/react-email/src/components/toolbar/use-cached-state.ts
  packages/react-email/src/components/topbar.tsx
  packages/react-email/src/components/topbar/view-size-controls.tsx
  packages/react-email/src/contexts/emails.tsx
  packages/react-email/src/contexts/preview.tsx
  packages/react-email/src/hooks/use-email-rendering-result.ts
  packages/react-email/src/utils/__snapshots__/get-email-component.spec.ts.snap
  packages/react-email/src/utils/caniemail/all-css-properties.ts
  packages/react-email/src/utils/caniemail/ast/get-object-variables.ts
  packages/react-email/src/utils/caniemail/ast/get-used-style-properties.ts
  packages/react-email/src/utils/caniemail/get-compatibility-stats-for-entry.ts
  packages/react-email/src/utils/caniemail/get-css-functions.ts
  packages/react-email/src/utils/caniemail/get-css-property-names.ts
  packages/react-email/src/utils/caniemail/get-css-property-with-value.ts
  packages/react-email/src/utils/caniemail/get-css-unit.ts
  packages/react-email/src/utils/caniemail/get-element-attributes.ts
  packages/react-email/src/utils/caniemail/get-element-names.ts
  packages/react-email/src/utils/caniemail/tailwind/generate-tailwind-rules.ts
  packages/react-email/src/utils/caniemail/tailwind/get-tailwind-config.ts
  packages/react-email/src/utils/caniemail/tailwind/get-tailwind-metadata.spec.ts
  packages/react-email/src/utils/caniemail/tailwind/get-tailwind-metadata.ts
  packages/react-email/src/utils/caniemail/tailwind/setup-tailwind-context.ts
  packages/react-email/src/utils/get-email-component.ts
  packages/react-email/src/utils/linting.ts
  packages/react-email/src/utils/result.ts
  packages/react-email/src/utils/run-bundled-code.ts
  packages/react-email/tailwind-internals.d.ts
  packages/react-email/tsconfig.json
  pnpm-lock.yaml
Labels: Package: react-email

#1969 fix(web): Spam Assassin row parser problems with long rule names
  apps/web/src/app/api/check-spam/__snapshots__/check-spam.spec.tsx.snap
  apps/web/src/app/api/check-spam/check-spam.spec.tsx
  apps/web/src/utils/spam-assassin/__snapshots__/parse-pointing-table-rows.spec.ts.snap
  apps/web/src/utils/spam-assassin/parse-pointing-table-rows.spec.ts
  apps/web/src/utils/spam-assassin/parse-pointing-table-rows.ts
Labels: App: Website

#1976 feat: Improve actionability of compatibility issues
  packages/react-email/src/actions/email-validation/check-compatibility.ts
  packages/react-email/src/components/toolbar/linter.tsx
  packages/react-email/src/utils/linting.ts
Labels: Package: react-email

#1982 feat: Make all line numbers clickable to share LoC
  packages/react-email/src/components/code.tsx
Labels: Package: react-email

#1987 fix(web): Parsing issues when beeing called during Vercel deploy
  apps/web/src/app/api/check-spam/__snapshots__/check-spam.spec.tsx.snap
  apps/web/src/app/api/check-spam/check-spam.spec.tsx
  apps/web/src/app/api/check-spam/check-spam.ts
  apps/web/src/app/api/check-spam/testing/stripe-welcome-email.tsx
  apps/web/src/utils/spam-assassin/parse-pointing-table-rows.ts
  apps/web/src/utils/spam-assassin/send-to-spamd.ts
Labels: App: Website

#1989 feat: add new components
  apps/web/components/bento-grid/inline-styles.tsx
  apps/web/components/bento-grid/tailwind.tsx
  apps/web/components/customer-reviews/inline-styles.tsx
  apps/web/components/customer-reviews/tailwind.tsx
  apps/web/components/list-with-image-on-left/inline-styles.tsx
  apps/web/components/list-with-image-on-left/tailwind.tsx
  apps/web/components/simple-list/inline-styles.tsx
  apps/web/components/simple-list/tailwind.tsx
  apps/web/components/simple-rating-survey/inline-styles.tsx
  apps/web/components/simple-rating-survey/tailwind.tsx
  apps/web/components/structure.ts
  apps/web/components/survey-section/inline-styles.tsx
  apps/web/components/survey-section/tailwind.tsx
  apps/web/public/static/coffee-bean-storage.jpg
  apps/web/public/static/vacuum-canister-clear-glass-bundle.jpg
  apps/web/src/illustrations/feedback.tsx
  apps/web/src/illustrations/list.tsx
Labels: App: Website, Type: Feature

#2009 fix(react-email): Static files regression
  .changeset/dry-tips-do.md
  packages/react-email/src/cli/utils/preview/serve-static-file.ts
Labels: Package: react-email

#2010 fix: Small design details
  .changeset/itchy-coins-remain.md
  packages/react-email/src/app/globals.css
  packages/react-email/src/app/preview/[...slug]/preview.tsx
  packages/react-email/src/components/shell.tsx
  packages/react-email/src/components/toolbar.tsx
Labels: Package: react-email

#2012 feat: New copy-paste components
  apps/web/components/bento-grid/inline-styles.tsx
  apps/web/components/bento-grid/tailwind.tsx
  apps/web/components/customer-reviews/inline-styles.tsx
  apps/web/components/customer-reviews/tailwind.tsx
  apps/web/components/list-with-image-on-left/inline-styles.tsx
  apps/web/components/list-with-image-on-left/tailwind.tsx
  apps/web/components/simple-list/inline-styles.tsx
  apps/web/components/simple-list/tailwind.tsx
  apps/web/components/simple-pricing-table/inline-styles.tsx
  apps/web/components/simple-pricing-table/tailwind.tsx
  apps/web/components/simple-rating-survey/inline-styles.tsx
  apps/web/components/simple-rating-survey/tailwind.tsx
  apps/web/components/structure.ts
  apps/web/components/survey-section/inline-styles.tsx
  apps/web/components/survey-section/tailwind.tsx
  apps/web/components/two-tiers-with-emphasized-tier/inline-styles.tsx
  apps/web/components/two-tiers-with-emphasized-tier/tailwind.tsx
  apps/web/public/static/coffee-bean-storage.jpg
  apps/web/public/static/vacuum-canister-clear-glass-bundle.jpg
  apps/web/src/illustrations/feedback.tsx
  apps/web/src/illustrations/list.tsx
  apps/web/src/illustrations/pricing.tsx
Labels: App: Website

#2015 feat(web): add changelog for March 27th
  apps/docs/changelog.mdx
Labels: App: Website
