Repository resend/react-email, pull requests merged in 2025-04, with the labels that each got.

#2038 feat(create-email): Testing export, type checking and starter creation with respective fixes
  .changeset/itchy-coats-doubt.md
  biome.json
  packages/create-email/.gitignore
  packages/create-email/.npmignore
  packages/create-email/package.json
  packages/create-email/src/index.js
  packages/create-email/src/index.spec.ts
  packages/create-email/src/tree.js
  packages/create-email/template/tsconfig.json
  packages/create-email/tsconfig.json
  packages/create-email/vitest.config.ts
  pnpm-lock.yaml
Labels: Package: create-email

#2042 fix(react-email): Module importing for separate tailwind configs
  packages/react-email/src/utils/caniemail/tailwind/get-tailwind-config.ts
Labels: Package: react-email

#2047 feat(root): Improved reliability on first install
  apps/demo/package.json
  packages/components/package.json
  packages/create-email/package.json
  packages/react-email/package.json
  packages/react-email/src/cli/commands/build.ts
  pnpm-lock.yaml
Labels: Package: create-email

#2044 fix(react-email): Linter not being able to handle tailwind config import with path alias
  .changeset/fifty-streets-kick.md
  packages/react-email/src/utils/caniemail/tailwind/get-tailwind-config.ts
Labels: Package: react-email

#2055 feat(docs): Changelog entry for April 4th and April 1st
  apps/docs/changelog.mdx
Labels: App: Docs

#2058 chore(docs): Add changelog for April 8th
  apps/docs/changelog.mdx
Labels: App: Docs

#2059 chore(react-email): Update Next to 15.2.4
  .changeset/large-games-repeat.md
  apps/demo/package.json
  apps/web/package.json
  packages/react-email/package.json
  pnpm-lock.yaml
Labels: Package: react-email

#2068 fix(web): Discrepancies in copy-paste component variants
  apps/web/components/bento-grid/inline-styles.tsx
  apps/web/components/bento-grid/tailwind.tsx
  apps/web/components/customer-reviews/inline-styles.tsx
  apps/web/components/customer-reviews/tailwind.tsx
  apps/web/components/list-with-image-on-left/inline-styles.tsx
  apps/web/components/list-with-image-on-left/tailwind.tsx
  apps/web/components/simple-list/inline-styles.tsx
  apps/web/components/simple-list/tailwind.tsx
  apps/web/components/simple-pricing-table/inline-styles.tsx
  apps/web/components/simple-pricing-table/tailwind.tsx
  apps/web/components/simple-rating-survey/inline-styles.tsx
  apps/web/components/simple-rating-survey/tailwind.tsx
  apps/web/components/two-tiers-with-emphasized-tier/inline-styles.tsx
  apps/web/components/two-tiers-with-emphasized-tier/tailwind.tsx
Labels: App: Website

#2083 fix(react-email): Dependents of dependents of email templates not causing hot reloads
  .changeset/eleven-wombats-make.md
  packages/react-email/src/cli/utils/preview/hot-reloading/setup-hot-reloading.ts
  packages/react-email/src/hooks/use-email-rendering-result.ts
  packages/react-email/src/utils/contains-email-template.spec.ts
  packages/react-email/src/utils/contains-email-template.ts
  packages/react-email/src/utils/get-emails-directory-metadata.ts
Labels: Package: react-email

#2084 fix(react-email): No error with missing default function export
  .changeset/wet-planes-camp.md
  packages/react-email/src/utils/get-email-component.ts
Labels: Package: react-email

#2085 feat(create-email): Use latest from specified tag for `react-email` and `@react-email/components`
  package.json
  packages/create-email/package.json
  packages/create-email/src/index.js
  packages/create-email/src/index.spec.ts
  packages/create-email/template/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Package: create-email

#2091 chore(react-email): Use deprecated `pretty` to allow for backwards-compatibility for now
  .changeset/famous-years-knock.md
  packages/react-email/src/actions/render-email-by-path.tsx
  packages/react-email/src/cli/commands/export.ts
  packages/react-email/src/hooks/use-email-rendering-result.ts
  packages/react-email/src/utils/esbuild/renderring-utilities-exporter.ts
  packages/react-email/src/utils/get-email-component.ts
Labels: Package: react-email

#2089 fix(tailwind): Declarations with multiple variables not being resolved
  .changeset/wet-guests-share.md
  packages/tailwind/src/utils/css/resolve-all-css-variables.spec.ts
  packages/tailwind/src/utils/css/resolve-all-css-variables.ts
Labels: Package: @react-email/tailwind

#2093 fix(react-email): Dependencies outside dependency graph directory not being resolved fully
  .changeset/eleven-plums-type.md
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.spec.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.ts
Labels: Package: react-email

#2097 fix(create-email): Name & version
  .changeset/stupid-lights-run.md
  packages/create-email/src/index.js
Labels: Package: create-email

#2104 fix(text): Priority of margin properties given by `style` not kept
  .changeset/plenty-camels-switch.md
  packages/react-email/src/cli/commands/testing/__snapshots__/export.spec.ts.snap
  packages/react-email/src/utils/__snapshots__/get-email-component.spec.ts.snap
  packages/text/src/__snapshots__/text.spec.tsx.snap
  packages/text/src/text.tsx
  packages/text/src/utils/compute-margins.spec.ts
  packages/text/src/utils/compute-margins.ts
  packages/text/src/utils/parse-margins.ts
Labels: Package: @react-email/text

#2181 fix(react-email): Potential security issues
  .changeset/flat-llamas-open.md
  packages/react-email/src/cli/utils/preview/serve-static-file.ts
  packages/react-email/src/utils/get-emails-directory-metadata.ts
Labels: Package: react-email

#2188 Console out build error
  .changeset/tiny-bears-train.md
  packages/react-email/src/cli/commands/export.ts
Labels: Package: react-email
