Repository resend/react-email, pull requests merged in 2025-05, with the labels that each got.

#2200 fix(react-email): Proper Node 18 support
  packages/react-email/package.json
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.spec.ts
  packages/react-email/src/cli/utils/preview/start-dev-server.ts
  packages/react-email/tailwind.config.ts
  packages/react-email/tsconfig.json
  packages/react-email/tsup.config.ts
Labels: Package: react-email

#2202 feat(react-email): Support for `import ... = require(...)` syntax
  .changeset/icy-bikes-obey.md
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.ts
Labels: Package: react-email

#2201 fix(react-email): Fix use of `@babel/traverse` use in ESM
  .changeset/long-words-attack.md
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.ts
Labels: Package: react-email

#2205 fix(react-email): Tests not importing @babel/traverse the same as raw ESM
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.spec.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.spec.ts
Labels: Package: react-email

#2207 fix(react-email): Import compiled templates with `createRequire`'s require
  .changeset/hip-items-create.md
  packages/react-email/src/cli/commands/export.ts
Labels: Package: react-email

#2206 fix(react-email): "createServerParamsForMetadata is not a function"
  .changeset/honest-paws-wash.md
  packages/react-email/package.json
  packages/react-email/src/cli/commands/export.ts
  pnpm-lock.yaml
Labels: Package: react-email

#2211 fix(text): User's style not having priority
  .changeset/curly-cameras-ask.md
  packages/text/src/text.spec.tsx
  packages/text/src/text.tsx
Labels: Package: react-email

#1923 fix(react-email): No explicit error when running with Node <= 17
  .changeset/breezy-planes-attend.md
  packages/react-email/src/cli/utils/preview/start-dev-server.ts
Labels: Package: react-email

#2187 chore(react-email): Pre-render email templates on hover
  .changeset/tidy-geese-cross.md
  packages/react-email/src/components/sidebar/file-tree-directory-children.tsx
Labels: Package: react-email

#2220 fix(text): Numerical margin values being overwritten with 0
  .changeset/open-pears-sink.md
  packages/text/src/__snapshots__/text.spec.tsx.snap
  packages/text/src/text.spec.tsx
  packages/text/src/utils/compute-margins.spec.ts
  packages/text/src/utils/compute-margins.ts
Labels: Package: @react-email/text

#2221 fix(render): reactDOMServer import on browser and some bundlers
  .changeset/free-sides-grin.md
  packages/render/src/browser/render.tsx
  packages/render/src/node/render.tsx
Labels: Package: @react-email/render

#2223 chore(react-email): 'email: not found' error during CI after caching of `react-email` and not `demo`
  packages/react-email/package.json
Labels: Package: react-email

#2226 chore(docs): Add changelog entries for May 1st, 2nd and 9th
  apps/docs/changelog.mdx
Labels: App: Docs

#2231 fix(preview, render): Preview being rendered in plain text
  .changeset/late-rooms-lay.md
  packages/preview/src/__snapshots__/preview.spec.tsx.snap
  packages/preview/src/preview.tsx
  packages/react-email/src/cli/commands/testing/__snapshots__/export.spec.ts.snap
  packages/react-email/src/utils/__snapshots__/get-email-component.spec.ts.snap
  packages/render/src/shared/plain-text-selectors.ts
  packages/render/src/shared/utils/preview.tsx
Labels: Package: @react-email/render, Package: @react-email/preview

#2235 fix(web): broken author images
  apps/web/public/examples/authors/EmersonGarrido.png
  apps/web/public/examples/authors/Rychillie.png
  apps/web/public/examples/authors/abhinandanwadwa.png
  apps/web/public/examples/authors/bruno88cabral.png
  apps/web/public/examples/authors/bukinoshita.png
  apps/web/public/examples/authors/c0dr.png
  apps/web/public/examples/authors/camillegachido.png
  apps/web/public/examples/authors/joaom00.png
  apps/web/public/examples/authors/nettofarah.png
  apps/web/public/examples/authors/relferreira.png
  apps/web/public/examples/authors/ribeiroevandro.png
  apps/web/public/examples/authors/thecodeinfluencer.png
  apps/web/public/examples/authors/zenorocha.png
  apps/web/src/components/template.tsx
Labels: App: Website

#2234 feat(button): respect the user's order of padding properties
  apps/web/components/customer-reviews/tailwind.tsx
  packages/button/src/__snapshots__/button.spec.tsx.snap
  packages/button/src/button.tsx
  packages/button/src/utils/parse-padding.ts
  packages/button/src/utils/px-to-pt.ts
  packages/button/src/utils/utils.spec.ts
  packages/react-email/src/cli/commands/testing/__snapshots__/export.spec.ts.snap
  packages/react-email/src/utils/__snapshots__/get-email-component.spec.ts.snap
  packages/tailwind/src/__snapshots__/tailwind.spec.tsx.snap
Labels: Package: @react-email/button

#2215 feat(react-email): TypeScript's path aliases support for hot reloading
  packages/react-email/package.json
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.spec.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/create-dependency-graph.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/resolve-path-aliases.spec.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/resolve-path-aliases.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/test/some-file.ts
  packages/react-email/src/cli/utils/preview/hot-reloading/test/tsconfig.json
  pnpm-lock.yaml
Labels: Package: react-email

#2214 fix(react-email): prettier errors causing NextJS serialization error
  .changeset/stupid-ghosts-decide.md
  packages/react-email/src/utils/improve-error-with-sourcemap.ts
  packages/react-email/src/utils/types/error-object.ts
Labels: Package: react-email

#2246 fix(react-email): dev:preview command failing
  packages/react-email/src/cli/utils/preview/hot-reloading/get-imported-modules.ts
Labels: Package: react-email

#2247 fix(react-email): Hot reloading with directories two or more levels deep
  .changeset/itchy-moles-give.md
  packages/react-email/src/utils/contains-email-template.spec.ts
  packages/react-email/src/utils/contains-email-template.ts
Labels: Package: react-email

#2251 fix(react-email): Preview server's background gradient inteferring with the user's colors
  .changeset/spotty-items-teach.md
  packages/react-email/src/app/layout.tsx
  packages/react-email/src/components/sidebar/sidebar.tsx
  packages/react-email/src/components/toolbar.tsx
  packages/react-email/src/components/toolbar/spam-assassin.tsx
Labels: Package: react-email

#2253 fix(create-email): Node 18 support breaking due to dirname
  .changeset/nine-parks-drop.md
  packages/create-email/src/index.js
Labels: Package: create-email
