Repository resend/react-email, pull requests merged in 2025-02, with the labels that each got.

#1867 chore(react-email): Use the `punycode` package for the static node modules
  .changeset/bright-chicken-learn.md
  packages/react-email/module-punycode.d.ts
  packages/react-email/package.json
  packages/react-email/src/utils/static-node-modules-for-vm.ts
  pnpm-lock.yaml
Labels: App: Preview, Package: react-email

#1837 feat(react-email): Customizable email view size
  .changeset/empty-phones-relax.md
  apps/demo/emails/magic-links/aws-verify-email.tsx
  apps/demo/emails/magic-links/linear-login-code.tsx
  apps/demo/emails/magic-links/notion-magic-link.tsx
  apps/demo/emails/magic-links/plaid-verify-identity.tsx
  apps/demo/emails/magic-links/raycast-magic-link.tsx
  apps/demo/emails/magic-links/slack-confirm.tsx
  apps/demo/emails/newsletters/codepen-challengers.tsx
  apps/demo/emails/newsletters/google-play-policy-update.tsx
  apps/demo/emails/newsletters/stack-overflow-tips.tsx
  apps/demo/emails/notifications/github-access-token.tsx
  apps/demo/emails/notifications/vercel-invite-user.tsx
  apps/demo/emails/notifications/yelp-recent-login.tsx
  apps/demo/emails/receipts/apple-receipt.tsx
  apps/demo/emails/reset-password/dropbox-reset-password.tsx
  apps/demo/emails/reset-password/twitch-reset-password.tsx
  apps/demo/emails/reviews/airbnb-review.tsx
  apps/demo/emails/reviews/amazon-review.tsx
  apps/demo/emails/welcome/koala-welcome.tsx
  apps/demo/emails/welcome/stripe-welcome.tsx
  apps/web/src/app/components/page.tsx
  apps/web/src/components/logo.tsx
  benchmarks/preview-server/src/local-vs-2.1.7-canary.2-on-startup.ts
  benchmarks/preview-server/src/local-vs-2.1.7-canary.2.ts
  biome.json
  packages/create-email/template/emails/notion-magic-link.tsx
  packages/create-email/template/emails/plaid-verify-identity.tsx
  packages/create-email/template/emails/stripe-welcome.tsx
  packages/create-email/template/emails/vercel-invite-user.tsx
  packages/react-email/package.json
  packages/react-email/src/actions/email-validation/check-images.spec.tsx
  packages/react-email/src/actions/email-validation/check-images.ts
  packages/react-email/src/actions/email-validation/check-links.spec.tsx
  packages/react-email/src/app/preview/[...slug]/preview.tsx
  packages/react-email/src/components/code-snippet.tsx
  packages/react-email/src/components/logo.tsx
  packages/react-email/src/components/resizable-wrapper.tsx
  packages/react-email/src/components/shell.tsx
  packages/react-email/src/components/sidebar/sidebar.tsx
  packages/react-email/src/components/topbar.tsx
  packages/react-email/src/components/topbar/active-view-toggle-group.tsx
  packages/react-email/src/components/topbar/view-size-controls.tsx
  packages/react-email/src/hooks/use-clamped-state.ts
  packages/react-email/tailwind.config.ts
  packages/react-email/tsconfig.json
  packages/react-email/tsconfig.test.json
  packages/react-email/vitest.config.ts
  packages/render/src/node/render-async-edge.spec.tsx
  packages/render/src/node/render-edge.spec.tsx
  packages/tailwind/integrations/nextjs/emails/vercel-invite-user.tsx
  pnpm-lock.yaml
Labels: App: Preview, Package: react-email

#1749 feat(react-email): added a theme switcher to the dev preview
  .changeset/dirty-needles-chew.md
  packages/react-email/src/app/preview/[...slug]/preview.tsx
  packages/react-email/src/components/icons/icon-moon.tsx
  packages/react-email/src/components/icons/icon-sun.tsx
  packages/react-email/src/components/shell.tsx
  packages/react-email/src/components/topbar.tsx
  packages/react-email/src/hooks/use-iframe-color-scheme.ts
Labels: App: Preview, Package: react-email

#1342 feat(docs): Improved contributing guide
  CONTRIBUTING.md
  apps/docs/contributing.mdx
  apps/docs/contributing/codebase-overview.mdx
  apps/docs/contributing/development-workflow/1-setup.mdx
  apps/docs/contributing/development-workflow/2-running-tests.mdx
  apps/docs/contributing/development-workflow/3-linting.mdx
  apps/docs/contributing/development-workflow/4-building.mdx
  apps/docs/contributing/development-workflow/5-writing-docs.mdx
  apps/docs/contributing/introduction.mdx
  apps/docs/contributing/opening-issues.mdx
  apps/docs/contributing/opening-pull-requests.mdx
  apps/docs/getting-started/migrating-to-react-email.mdx
  apps/docs/mint.json
Labels: Type: Documentation

#1914 feat(web): Check Spam API
  .github/workflows/tests.yml
  apps/web/package.json
  apps/web/src/app/api/check-spam/__snapshots__/check-spam.spec.tsx.snap
  apps/web/src/app/api/check-spam/check-spam.spec.tsx
  apps/web/src/app/api/check-spam/check-spam.ts
  apps/web/src/app/api/check-spam/route.ts
  apps/web/src/utils/spam-assassin/__snapshots__/parse-pointing-table-rows.spec.ts.snap
  apps/web/src/utils/spam-assassin/parse-pointing-table-rows.spec.ts
  apps/web/src/utils/spam-assassin/parse-pointing-table-rows.ts
  apps/web/src/utils/spam-assassin/send-to-spamd.ts
  apps/web/vitest.config.ts
  packages/react-email/src/cli/commands/testing/export.spec.ts
  pnpm-lock.yaml
  turbo.json
Labels: App: Website

#1913 feat(react-email): Spam Assassin checker for email templates
  biome.json
  packages/react-email/package.json
  packages/react-email/src/app/preview/[...slug]/preview.tsx
  packages/react-email/src/components/icons/icon-bug.tsx
  packages/react-email/src/components/shell.tsx
  packages/react-email/src/components/sidebar/file-tree-directory-children.tsx
  packages/react-email/src/components/sidebar/image-checker.tsx
  packages/react-email/src/components/sidebar/sidebar.tsx
  packages/react-email/src/components/sidebar/spam-assassin.tsx
  packages/react-email/tsconfig.json
  packages/react-email/tsconfig.test.json
  packages/react-email/vitest.config.ts
  pnpm-lock.yaml
Labels: Package: react-email

#1864 feat(tailwind): extract pseudo classes to stylesheet
  .changeset/great-parrots-yell.md
  packages/tailwind/src/__snapshots__/tailwind.spec.tsx.snap
  packages/tailwind/src/tailwind.spec.tsx
  packages/tailwind/src/utils/css/media-queries/sanitize-media-queries.spec.ts
  packages/tailwind/src/utils/css/media-queries/sanitize-media-queries.ts
  packages/tailwind/src/utils/css/sanitize-non-inlinable-classes.spec.ts
  packages/tailwind/src/utils/css/sanitize-non-inlinable-classes.ts
  packages/tailwind/src/utils/tailwindcss/clone-element-with-inlined-styles.ts
Labels: Package: @react-email/tailwind
